################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/CPP-Textbook-Exercises/.vs/CPP-Textbook-Exercises/v17
/.vs
/Ch2/x64/Debug/Ch2.tlog
/Ch2/x64/Debug
/CPP-Textbook-Exercises/Ch3/x64/Debug/Ch3.tlog
/CPP-Textbook-Exercises/Ch3/x64/Debug
