################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/CPP-Textbook-Exercises/.vs/CPP-Textbook-Exercises/v17
/.vs
/*/x64/Debug
/*/.vs/
/*/*/x64/Debug/
