################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/CPP-Textbook-Exercises/.vs/CPP-Textbook-Exercises/v17
/.vs
/Ch2/x64/Debug/Ch2.tlog
/Ch2/x64/Debug
/Ch4/.vs/Ch4/v17
/Ch4/Ch4/x64/Debug/Ch4.tlog
/Ch5/.vs/Ch5/v17
/Ch8/.vs/Ch8/v17
